<header class="header flex_wrap" th:fragment="headerFragment" xmlns:th="http://www.thymeleaf.org">
    <ul class="gnb flex_wrap">
        <li class="current"><span class="num">01</span><span>기본정보입력</span></li>
        <li><span class="num">02</span><span>배터리팩 요구사항</span></li>
        <li><span class="num">03</span><span>견적서 확인</span></li>
        <li><span class="num">04</span><span>기술상담 예약</span></li>
        <span class="gnb_bar"></span>
    </ul>

    <a href="https://rmpower.co.kr/HOME" target="blank"
    class="btn_exit"><span class="txt">홈페이지 바로가기</span><span class="material-icons-round">home</span></a>
</header>