
@media (min-width:1641px) {
  .arrow_btn.prev{left:3rem;}
  .arrow_btn.next {right: 3rem;}

  .arrow_btn:hover span{
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width:1640px) {
  html, body{font-size:9px;}
  .inner{width: 120rem;}

  /* 헤더 */
  .header{ width: 100%;}
}

@media (max-width:1200px) {
  html, body{font-size: 8px;
  }
  .inner{width: 100%;padding:0 2rem;}


  /* 헤더 */
  .header{padding: 0 2rem;}
  .header .gnb li{margin-right:3rem;}
  .header .gnb .num~span{display: none;}
  .header .gnb li.current .num~span{display: block;}
  .header .btn_exit{padding:1.2rem;}
  .header .btn_exit span.txt{display: none;}
  .header .btn_exit span[class*='material']{display: block;}

 
  /* .arrow_btn{width:6rem;height:6rem;top:15.5rem;} */
  /* .arrow_btn.prev{left:auto;right:10rem;background:var(--main-color) url(../img/prev_ico.svg) no-repeat;background-position: 45% center;background-size:1.4rem;}
  .arrow_btn.next{right:3rem;background-size:1.4rem;top:16rem;} */
  .arrow_btn.prev {
    left: auto;
    right: 11rem;
    background: var(--main-color) url(../img/prev_ico.svg) no-repeat;
    background-position: 45% center;
    /* background-size: 1.4rem; */
}
.arrow_btn.next {
    right: 3rem;
    /* background-size: 1.4rem; */
    /* top: 16rem; */
    /* position: absolute;
    bottom: 0; */
}


  /* 컨텐츠 */
  .content{margin-top:13rem;position: relative;}
  /* .content.before:before{content: '';width:100vw;height:100vh;position:fixed;top:0;left:0;background:rgba(0,0,0,.8);z-index:9998;} */


  .content.pg_layout01 .select_wrap{position:relative;left:0;}

  .content.pg_layout02 .content_tit_wrap{height:auto;display: block;padding:0;background: none;}
  .content.pg_layout02 .content_tit_wrap .tit{height:8rem;display: flex;align-items: center;margin-bottom:3rem;padding:0 3rem;background: var(--bg-color02);border-radius: 2.4rem;}
  .content.pg_layout02 .select_wrap{width:100%;left:0;}

  .require_wrap{position:fixed;width:100%;z-index:9999;left:0;top:100%;border-radius:0;transition:none;}
  .require_wrap .require_triger{position:absolute;bottom:100%;display: block;background:var(--main-color);padding:1rem 0;width:100%;text-align: center;}
  .require_wrap .require_triger span {
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 600;
    padding: 0rem 3rem 0.5rem;
    display: block;
    text-align: left;
}
  .require_wrap .require_triger span[class*="material"]{display: none;}

  .require_wrap.open{top:auto;bottom:0;}
  .require_wrap.open .require_triger span[class*="material"]{display: block;position:absolute;right:1rem;top:50%;transform: translateY(-50%);}
}

@media (max-width:767px) {


    html,body{
        -ms-content-zooming: none;
        -ms-touch-action: pan-x pan-y;
        width: 100%;
        height: 100%;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

    html::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }

    body.body{
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        /* height: 0; */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;
        }
        
    body.body::-webkit-scrollbar {
         display: none;
       }

    body > #content{
        width: 96%;
        margin: 0 auto;
    }

    .inner {
        width: 100%;
        /* height: 100%; */
    }

    .inner::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
  .info_wrap {
    justify-content: center;
}

.header {
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 3rem;
    background: var(--bg-color);
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    z-index: 999999;
  }


  .content_tit_wrap .page02_step {
    right: 0rem;
    position: fixed;
    justify-content: space-between;
    /* width: 84%; */
    bottom: 0;
    top: 10.2rem;
    width: 100%;
    height: 4rem;
    padding: 1rem 3rem;
    margin: 0rem auto;
    align-items: center;
    /* margin-bottom: -12rem; */
    background: #22242a;
    z-index: 99999999;
}
  .page02_step li{margin-left:0;}

  .content_tit_wrap .tit{font-size:2rem; display: none;}

  .select_wrap {
    width: 100%;
    position: relative;
    padding: 0;
    transition: width .3s, left .3s;
    top: 10rem;
    margin: 0 auto;
}
  .page-switch.page01 {
    opacity: 0;
    z-index: -999;
    min-height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.4rem;
    transition: none;
    width: 100%;
}
.content_tit_wrap {
    height: 0rem;
    /* padding: 2rem 3rem; */
    /* margin: 15rem auto 0; */
    border-radius: 2.4rem;
    background: var(--bg-color02);
    display: flex;
    align-items: center;
    transition: width .3s;
    width:100%;
    /* margin: 15rem auto 0; */
    background: none;
}

.content_tit_wrap .page02_step li {
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
    border-radius: 50%;
    background: rgba(101, 212, 252,.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
    cursor: pointer;
    float: left;
}
/* .arrow_btn {
    width: 7rem;
    height: 7rem;
    /* top: 18rem; */
.page01 .info_wrap .chk {
    justify-content: flex-end;
    width: 100%;
}
.page-switch {
    opacity: 0;
    z-index: -999;
    width:100%;
}

.page-switch.page03.on {
    opacity: 1;
    z-index: 999;
}

.require_select_wrap {
    position: relative;
    margin-top: -1rem;
}
.select_wrap .exp_wrap {
    width: 100%;
    padding: 2rem;
    float: right;
}
.page02_01 .exp_wrap .exp_items .item {
    width: 45%;
}
.select_wrap .exp_wrap .exp_items .item {
    margin-bottom: 2rem;
}
.select_wrap .exp_wrap .exp_items .item .img_wrap {
    height: 10rem;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}
.select_wrap .select_items {
    width: 100%;
    padding: 2rem;
    /* border-right: 1px solid rgba(0, 0, 0, .1); */
    /* float: left; */
    position: relative;
}
.select_wrap{
    width: 100%;
    margin: 0 auto;
}

.page02_01_01 .info_wrap .label {
    min-width: 6rem;
    margin-right: 12rem;
    font-size: 1.6rem;
}
.page02_02 .select_wrap .select_items .items_tit {
    margin-bottom: 5rem;
    font-size: 1.7rem;
    font-weight: 700;
}
.page02_03 .select_items .chk_item {
    height: 10rem;
    background: #f7f7f7;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    padding: 0 1.4rem;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #999;
    text-align: justify;
    cursor: pointer;
}
.page02_04 .select_items{
    width: 35%;
    padding: 2rem;
    border-right: 1px solid rgba(0, 0, 0, .1);
    float: left;
    position: relative;
    height: auto;
}
.page02_04 .select_items .chk_item.checked{
    background: var(--gradient);
    font-weight: 600;
    color: #fff;
    width: calc(100% - 4rem);
}
.page02_04 .select_items .chk_item{
    height: 5rem;
    background: #f7f7f7;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 2.4rem;
    font-size: 1.6rem;
    color: #999;
    /* text-align: center; */
    cursor: pointer;
    width: calc(100% - 4rem);
}
.page02_04 .exp_wrap {
    width: 100%;
    padding: 0rem 2rem 7rem 2rem;
    float: right;
}
.page02_04 .tbl{padding:1rem;}

.page02_04_01 .exp_wrap {
    width: 100%;
    padding: 0rem 2rem 5rem;
    float: right;
    margin-top: 2rem;
}

.page02_04_01 .select_items {
    width: 29%;
    padding: 2rem;
    border-right: 1px solid rgba(0, 0, 0, .1);
    float: left;
    height: auto;
    position: relative;
}

.tbl_style01 th, .tbl_style01 td {
    padding: 0.9rem;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 1.4rem;
    text-align: center;
}


.tbl_style01.tbl_style02 th, .tbl_style01.tbl_style02 td {
    padding: 1.5rem 0.5rem;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 1rem;
    text-align: center;
}
.tbl_style01.tbl_style02 th {
    background: var(--bg-color02);
    border-right: 1px solid rgba(255,255,255,.1);
    color: #fff;
}
.page02_04_01 .select_wrap .select_items .chk_item {
    height: 7rem;
    background: #f7f7f7;
    margin-bottom: 1rem;
    display: flex;
    /* float: left; */
    align-items: center;
    padding: 0 1.5rem;
    border-radius: 2.4rem;
    font-size: 1.6rem;
    color: #999;
    font-size: 11px;
    text-align: center;
    /* text-align: justify; */
}
.page02_05 .item_tit_wrap .items_tit.prev {
    width: 3rem;
}

.page02_01_01 .info_wrap .label {
    min-width: 11rem;
    margin-right: 9rem;
    font-size: 1.6rem;
}

.page01 input{ 
    appearance: none; 
    -moz-appearance: none; 
    -webkit-appearance: none; 
    border-radius: 0; 
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
}
.page02_01_01 input{ 
    appearance: none; 
    -moz-appearance: none; 
    -webkit-appearance: none; 
    border-radius: 0; 
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
}

.page02_07 input{ 
    appearance: none; 
    -moz-appearance: none; 
    -webkit-appearance: none; 
    border-radius: 0; 
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
}


.info_wrap input.info_input {
    width: 100%;
    height: 4rem;
    padding: 0 2rem;
    border: none;
    font-size: 1.8rem;
    color: #999;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}
/* .info_wrap input.info_input:focus{
    color: none;
    border: none;
    outline: none;
    box-shadow: 0 0 0 3px var(--ck-sample-color-blue);
} */

.page02_01_01 .info_wrap input.info_input {
    width: 100%;
    height: 4rem;
    padding: 0 2rem;
    border: none;
    font-size: 1.8rem;
    color: #999;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}

  .page01 .info_wrap input.info_input:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 0 3px var(--main-color);
    color:var(--bg-color);
  }

  .page02_01_01 .info_wrap input.info_input:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 0 3px var(--main-color);
    color:var(--bg-color);
  }

  .page02_07 .info_wrap input.info_input:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 0 3px var(--main-color);
    color:var(--bg-color);
  }
  
.page02_04_01 .select_wrap .select_items .items_tit {
    margin-bottom: 5rem;
    font-size: 1.9rem;
    font-weight: 700;
}

.page02_04_01 .select_items .chk_item {
    /* height: 7rem; */
    background: #f7f7f7;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 2.4rem;
    /* font-size: 1.2rem; */
    color: #999;
    cursor: pointer;
}



  .page02_01 .select_items{width:100%;}
  .page02_02 .select_items{width:100%;}
  .page02_03 .select_items{width:100%;}
  .page02_03_01 .select_items{width:100%;}
  .page02_04 .select_items{width:100%;}
  .page02_04_01 .select_items{width:100%;}
  .page02_06 .select_items{width:100%;}
.page02_06_01 .select_items{width:100%;}
.page02_07 .select_items{width:100%;}
/* page 02-01 */

.select_wrap .exp_wrap .tabCont01{height: 0;width:0; overflow:hidden;}
.select_wrap .exp_wrap .tabCont02{height: 0;width:0; overflow:hidden;}
.select_wrap .exp_wrap .tabCont01.on {
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: 100px;
    left: 0;
    height: 35rem;
}
.select_wrap .exp_wrap .tabCont02.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(100px + 6rem);
    left: 0;
    height: 35rem;
}
.select_wrap .exp_wrap .tabCont03.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(100px + 6rem + 6rem);
    left: 0;
    height: 35rem;
}
.select_wrap .exp_wrap .tabCont04.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(100px + 6rem + 6rem + 6rem);
    left: 0;
    height: 35rem;
}
.select_wrap .exp_wrap .tabCont05.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(100px + 6rem + 6rem + 6rem + 6rem);
    left: 0;
    height: 35rem;
}
.select_wrap .exp_wrap .tabCont06.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(100px + 6rem + 6rem + 6rem + 6rem + 6rem);
    left: 0;
    height: 35rem;
}
.select_wrap .exp_wrap .tabCont07.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(100px + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem);
    left: 0;
    height: 35rem;
}
.select_wrap .exp_wrap .tabCont08.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(100px + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem);
    left: 0;
    height: 35rem;
}

/* page02-01 */

.page02_01 .exp_items_wrap{height:0;}
.page02_01 .exp_items_wrap.on {
    padding: 1rem 2rem;
}
.page02_01 .exp_wrap .exp_tit {
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: 700;
    display: none;
}
.page02_01 .exp_wrap .exp_items .item {
    width: 28%;
    text-align: center;
}
.page02_01 .items_wrap .chk_item{margin-top:0;}
.content .select_items .chk_item.purpose.on{
  margin-top:33rem;
}

/* .page02_01 .select_items .items_tit {
    display: none;
}
.page02_02 .select_items .items_tit {
    display: none;
}
.page02_04 .select_items .items_tit {
    display: none;
}
.page02_06 .select_items .items_tit {
    display: none;
} */
.page02_01 .select_items{height:auto;}
.page02_01 .select_items.active{height:65rem;}

.page02_01{height: auto;}
.page02_01.height{height:75rem;}
/* page02-01-01 */

.page-switch.page02_01_01.on {
    opacity: 1;
    z-index: 999;
    position: relative;
    transition: width .3s;
}
.page02_01_01 .select_items{width:100%;}



.select_wrap .page02_01_01 .item_tit_wrap {
    margin-bottom: 3rem;
}

.select_wrap .page02_01_01 .exp_wrap {
    width: 100%;
    padding: 2rem;
    /* float: right; */
    position: absolute;
    bottom: 0;
}

.page02_01_01 .info_wrap {
    width: 90%;
    position: absolute;
    top: 70px;
}


.select_wrap .page02_01_01 .select_items {
    width: 100%;
    padding: 2rem;
    border-right: 0px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    float: none;
    position: relative;
}
.select_wrap .page02_01_01 .exp_wrap{display: block !important;}

/* page 02-02

.page02_02 .select_items{ position: relative;}

.page02_02 .info_wrap {
    position: absolute;
    bottom: 100px;}

.select_wrap .page02_02 .exp_wrap{display: block;}
.page02_02 .exp_wrap .tabCont01{height:0;overflow:hidden;width:0;}
.page02_02 .exp_wrap .tabCont01.on{height:37rem;width: 100%;}
.page02_02 .exp_wrap .tabCont02{height:0;overflow:hidden;width:0;}
.page02_02 .exp_wrap .tabCont02.on{height:37rem;width: 100%;}
.page02_02 .exp_wrap .tabCont03{height:0;overflow:hidden;width:0;}
.page02_02 .exp_wrap .tabCont03.on{height:0;overflow:hidden;width:0;}


.page02_02 .items_wrap .chk_item{margin-top:0;}
.content .select_items .chk_item.battery.on{
  margin-top:36rem;
}


.page02_02 .exp_wrap .tabCont01.on {
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top:55px;
    left: 0;
    height: 35rem;
}
.page02_02 .exp_wrap .tabCont02.on {
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(55px + 6rem);
    left: 0;
    height: 35rem;
}
.page02_02 .exp_wrap .tabCont03.on {
    top: 0;
    left: 0;
    height: 0;
}
.page02_02 .select_items{height:auto;}
.page02_02 .select_items.active{height:65rem;} */

/* page 02-03 */
.select_wrap .page02_03 .exp_wrap{display: block;}
.page02_03 .items_wrap .chk_item{height:5rem;}
.page02_03 .exp_wrap .tabCont01{height:0;overflow:hidden;width:0;}
.page02_03 .exp_wrap .tabCont01.on{height:37rem;width: 100%;}
.page02_03 .exp_wrap .tabCont02{height:0;overflow:hidden;width:0;}
.page02_03 .exp_wrap .tabCont02.on{height:40rem;width: 100%;}
.page02_03 .exp_wrap .tabCont03{height:0;overflow:hidden;width:0;}


.page02_03 .items_wrap .chk_item{margin-top:0;}
.content .select_items .chk_item.battery_type.on{
  margin-top:39rem;
}


.page02_03 .select_items .items_tit {
    display: none;
}

/* page02-03-01
.select_wrap .page02_03_01 .exp_wrap{display: block;}
.page02_03_01 .items_wrap .chk_item{height:5rem;width: 100%;}
.page02_03_01 .exp_wrap .tabCont01{height:0;overflow:hidden;width:0;}
.page02_03_01 .exp_wrap .tabCont02{height:0;overflow:hidden;width:0;}

.page02_03_01 .exp_wrap .item_tit{display: none;}

.page02_03_01 .items_wrap .chk_item{margin-top:0;}
.content .select_items .chk_item.cell_model.on{
  margin-top:19rem;
}

.page02_03_01 .exp_wrap .tabCont01.on {
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: 21rem;
    left: 0;
    height: 23rem;
    /* bottom: 55px; */
    /* top: 0; */
/* } */ 


.page02_03_01 .exp_wrap .tabCont02.on {
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(21rem + 6rem);
    left: 0;
    height: 23rem;
    /* bottom: 55px; */
    /* top: 0; */
}

.require_select_wrap .select_wrap .page02_05 .select_items {
    height: auto;
    width: 100%;
    padding: 2rem;
    border-right: 0px solid rgba(0, 0, 0, 0);
    /* float: left; */
    position: relative;
}
.require_select_wrap .select_wrap .page02_05 .exp_wrap {
    width: 100%;
    padding: 2rem;
}
.content.pg_layout01 .arrow_btn.prev {
    
    /* top: 1rem; */
    position: fixed;
    bottom: 5rem;
}
.arrow_btn {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    cursor: pointer;
    top: auto;
}


.content.pg_layout01 .arrow_btn.next {
    right: 3rem;
    
    /* top: 1rem; */
    position: fixed;
    bottom: 5rem;
    
}
.content.pg_layout01 .arrow_btn.next.on {
    display: block;
    z-index: 999999;
}

.content.pg_layout01 .arrow_btn.prev.on {
    display: block;
    z-index: 999999;
}

/* page 04-01 */
.page-switch.page02_04_01.on {
    opacity: 1;
    z-index: 999;
    height: 135rem;
}

/* page 02-06 */

.page02_06 .select_items{ position: relative;}

.page02_06 .info_wrap {
    position: absolute;
    bottom: 100px;}

  .page02_06 .select_items .items_tit {
        margin-bottom: 5rem;
        font-size: 2rem;
        font-weight: 700;
    }
    .page02_06 .info_wrap .label {
        min-width: 6rem;
        margin-right: 12rem;
        font-size: 1.6rem;
    }

.page02_06 .items_wrap .chk_item{margin-top:0;}
.content .select_items .chk_item.pcm.on{
  margin-top:21rem;
}

.page02_06 .exp_wrap .exp_items .item_tit{display: none;}



/* page 02-06-01 */

.page02_06_01 .exp_items_wrap{height:0;}
.page02_06_01 .exp_items_wrap.on {
    padding: 1rem 2rem;
}
.page02_06_01 .exp_tit {
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: 700;
    display: none;
}
.page02_06_01 .exp_wrap .exp_items .item {
    text-align: center;
}
.page02_06_01 .items_wrap .chk_item{margin-top:0;}
.content .select_items .chk_item.case.on{
  margin-top:28rem;
}

.content .select_items .chk_item:nth-of-type(2).case.on {
    margin-top: 0rem;
}
.content .select_items .chk_item:nth-of-type(6).case.on {
    margin-top: 0rem;
}


.page02_06_01 .select_items{height:auto;}
.page02_06_01 .select_items.active{height:65rem;}


.page02_06_01 > .select_items .exp_wrap .tabCont02.on {
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: 20rem;
    left: 50%;
    height: 35rem;
    transform: translateX(-25%);
}
.page02_06_01 > .select_items .exp_wrap .tabCont03.on {
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: 20rem;
    left: calc( 50% + 5rem );
    height: 35rem;
    transform: translateX(-25%);
}
.page02_06_01 > .select_items .exp_wrap .tabCont04.on {
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: 20rem;
    left: calc( 50% + 10rem );
    height: 35rem;
    transform: translateX(-25%);
}
.page02_03_01 .item_tit_wrap {
    margin-bottom: 3rem;
}


.page02_06_01 .exp_wrap .exp_items .item .img_wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    padding: 0rem;
}
.page02_06_01 .exp_wrap .exp_items .item {
    width: 45%;
    text-align: center;
    position: relative;
    height: 11rem;
}
.page02_06_01 .exp_wrap .tabCont01.on{
    top: 0;
    left: 0;
    height: 0;
}
.page02_06_01 .exp_wrap .tabCont02.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(101px + 6rem);
    left: 0;
    height: 26rem;
}
.page02_06_01 .exp_wrap .tabCont03.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(101px + 6rem + 6rem);
    left: 0;
    height: 26rem;
}
.page02_06_01 .exp_wrap .tabCont04.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(101px + 6rem + 6rem + 6rem);
    left: 0;
    height: 26rem;
}


/* page 02-07 */
.page-switch.page02_07.on{
  opacity: 1;
  z-index: 999;
  position: relative;
  transition: width .3s;}
.page02_07 .select_items .items_tit {
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: 700;
}
.select_wrap .page02_07 .select_items {
    width: 100%;
    padding: 0rem 2rem 0;
    /* border-right: 1px solid rgba(0, 0, 0, .1); */
    /* float: left; */
    position: relative;
    margin-top: 2rem;
}
.select_wrap .page02_07 .exp_wrap {
    position: absolute;
    top: 40rem;
    float: right;
    z-index: -999;
}


.custom .tableDetails th, .tableDetails td {
    padding: 1rem 0.3rem;
    border: 1px solid rgb(221 221 221 / 60%);
    font-size: 1rem;
    text-align: center;
}

.content > .inner > .require_select_wrap > .select_wrap div.page-switch {
    display: none; 
}
.content > .inner > .require_select_wrap > .select_wrap div.page-switch.on {
    display: block; top:8.5rem;
}
.content > .inner > .require_select_wrap > .select_wrap div.page-switch.page01.on {
    display: flex;
}

.select_wrap .select_items .items_tit {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
}

.page02_01_01 .select_items .items_tit {
    margin-bottom: 0rem;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
}

.select_wrap .select_items .use_item_checked {
    margin: 0rem 0rem 3rem 2rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    background: rgba(101, 212, 252,.1);
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}
.page02_04_01 .item_tit_wrap {
    margin-bottom: 2rem;
}

.page02_06 .exp_wrap{
    height: 23rem;
}
.page02_06 .exp_wrap .tabCont01.on {
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: 13rem;
    left: 0;
}
.page02_06 .exp_wrap .tabCont03.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(13rem + 6rem + 6rem);
    left: 0;
}
.page02_06 .exp_wrap .tabCont04.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(13rem + 6rem + 6rem + 6rem);
    left: 0;
}
.page02_06 .exp_wrap .tabCont05.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(13rem + 6rem + 6rem + 6rem + 6rem);
    left: 0;
}
.page02_06 .exp_wrap .tabCont06.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(13rem + 6rem + 6rem + 6rem + 6rem + 6rem);
    left: 0;
}
.page02_06 .exp_wrap .tabCont07.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(13rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem);
    left: 0;
}
.page02_06 .exp_wrap .tabCont08.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(13rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem);
    left: 0;
}
.page02_06 .exp_wrap .tabCont09.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(13rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem);
    left: 0;
}
.page02_06 .exp_wrap .tabCont10.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(13rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem );
    left: 0;
}
.page02_06 .exp_wrap .tabCont11.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(13rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem );
    left: 0;
}
.page02_06 .exp_wrap .tabCont12.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(13rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem );
    left: 0;
}
.page02_06 .exp_wrap .tabCont13.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(13rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem);
    left: 0;
}
.page02_06 .exp_wrap .tabCont14.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(13rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem);
    left: 0;
}
.page02_06 .exp_wrap .tabCont15.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(13rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem + 6rem);
    left: 0;
}
.page02_07 .info_wrap input.info_input {
    width: 60%;
}

.page02_04_01 .select_items .items_tit {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
}

.page-switch.page04 {
    opacity: 0;
    z-index: -999;
}


.page-switch.page02_01{opacity:0;z-index:-999;transition:all .3s linear 0s;overflow: hidden;display: none;width:100%;}
.page-switch.page02_01.on{opacity:1;z-index:999;transition:all .3s linear 0s;overflow: visible;display: block;width: 100%;}
.page-switch.page02_01_01{opacity:0;z-index:-999;transition:all .3s linear 0s;overflow: hidden;display: none;width:100%;}
.page-switch.page02_01_01.on {
    opacity: 1;
    z-index: 999;
    transition: all .3s linear 0s;
    /* margin-bottom: 10rem; */
    overflow: visible;
    display: block;
    width: 100%;
    /* height: 64rem; */
}
.page-switch.page02_02{opacity:0;z-index:-999;transition:all .3s linear 0s;overflow: hidden;display: none;width:100%;}
.page-switch.page02_02.on{opacity:1;z-index:999;transition:all .3s linear 0s;overflow: visible;display: block;width:100%;height: 104rem;}
.page-switch.page02_03{opacity:0;z-index:-999;overflow: hidden;display: none;width:100%;}
.page-switch.page02_03.on{opacity:1;z-index:999;transition:all .3s linear 0s;overflow: visible;display: block;width:100%;height: 64rem;}
.page-switch.page02_03_01{opacity:0;z-index:-999;transition:all .3s linear 0s;overflow: hidden;display: none;width:100%;}
.page-switch.page02_03_01.on{opacity:1;z-index:999;transition:all .3s linear 0s;overflow: visible;display: block;height: 116rem;width:100%;}
.page-switch.page02_04{opacity:0;z-index:-999;transition:all .3s linear 0s;overflow: hidden;display: none;width:100%;}
.page-switch.page02_04.on{opacity:1;z-index:999;transition:all .3s linear 0s;overflow: visible;display: block;width:100%;height:130rem;}
.page-switch.page02_04_01{opacity:0;z-index:-999;transition:all .3s linear 0s;overflow: hidden;display: none;width:100%;}
.page-switch.page02_04_01.on{opacity:1;z-index:999;transition:all .3s linear 0s;overflow: visible;display: block;width:100%;}
.page-switch.page02_05{opacity:0;z-index:-999;transition:all .3s linear 0s;overflow: hidden;display: none;width:100%;}
.page-switch.page02_05.on{opacity:1;z-index:999;transition:all .3s linear 0s;overflow: visible;display: block;width:100%;}
.page-switch.page02_06{opacity:0;z-index:-999;transition:all .3s linear 0s;overflow: hidden;display: none;width:100%;}
.page-switch.page02_06.on{opacity:1;z-index:999;transition:all .3s linear 0s;overflow: visible;display: block;width:100%;height:86rem;}
.page-switch.page02_06_01{opacity:0;z-index:-999;transition:all .3s linear 0s;overflow: hidden;display: none;width:100%;}
.page-switch.page02_06_01.on{opacity:1;z-index:999;transition:all .3s linear 0s;overflow: visible;display: block;width: 100%;}
.page-switch.page03{opacity:0;z-index:-999;overflow: hidden;display: none;width:100%;}
.page-switch.page03.on {
    z-index: 999;
    display: block;
    /* overflow: hidden; */
    /* width: 120%; */
    /* left: -10px; */
    /* transform: translateX(-24px); */
    /* transform: scale(1.1); */
    overflow: scroll;
    margin-top: 0;
    overflow: auto;
    /* white-space: nowrap; */
}
.page-switch.page04{opacity:0;z-index:-999;overflow: visible;display: none;width:100%;}
.page-switch.page04.on{opacity:1;z-index:999;overflow: hidden;display: block;width:100%;}
.page-switch.page02_07{opacity:0;z-index:-999;overflow: visible;display: none;width:100%;}
.page-switch.page02_07.on{opacity:1;z-index:999;display: block;width:100%;height: 95rem;}
.page-switch.page03_01{opacity:0;z-index:-999;left: 0;overflow: visible;display: none;width:100%;}
.page-switch.page03_01.on{opacity:1;z-index:999;display: block;width:100%;}

/* .page02_07 textarea {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 10px;
    color: #7e7e7e;
    background-color: #fff;
    font-size: 1.5rem;
    width: 100%;
    height: 8rem;
    border-radius: 1.2rem;
    z-index: 999;
} */
.page-switch.page02_04.on.min{height:130rem;}




.page02_04_01 > .exp_wrap > table {
    position: absolute;
    width: calc(100% - 4rem);
    padding: 2rem;
}

.page02_01_01 .invalidVolt{
    padding: 10.5rem 0rem;
    display: block;
    color: rgb(244, 74, 90);
    font-size: 1.4rem;
    line-height: 2;
    margin-top: 5rem;
}

.page02_04_01 .select_items .use_item_checked {
    margin: 0rem 0rem 1rem 2rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    background: rgba(101, 212, 252,.1);
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.page02_04_01 .tbl_style01.tbl_style02.tbl1 td {
    padding: 1rem;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 1.2rem;
    text-align: center;
}

.page02_04_01 .tbl_style01.tbl_style02.tbl2 td {
    padding: 1rem;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 1.4rem;
    text-align: center;
}


.info_wrap .label {
    min-width: 6rem;
    margin-right: 2rem;
    font-size: 1.6rem;
    width: 40%;
}

label.addfile {
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    float: left;
    transform: translateY(50%);
    font-size: 1.6rem;
    color: #2D3A4A;
    width: 40%;
}

.btn-primary {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
    text-decoration: none;
    margin-left: 1rem;
    border-radius: 1rem;
}
.page03_01 .exp_wrap .items_tit{
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
  }
  .page03_01 .exp_wrap .wizmo {
    border: 1px solid #000;
    width: 100%;
    /* height: 100%; */
    height: 26rem;
    margin-top: 3rem;
}
.page02_01_01 .exp_wrap .exp_items .item_tit{
    margin-bottom:2rem;
    font-size: 1.6rem;
    font-weight:700;
  }

.page02_01_01 .exp_wrap .exp_items .item_txt{
    margin-top: 2rem;
}
.select_wrap .page02_02 .exp_wrap {
    width: 100%;
    padding: 2rem;
    float: right;
    position: absolute;
    top: 27rem;
}

.select_wrap .page02_02 .exp_wrap .exp_items .item_tit {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0rem 2rem 3rem 0rem;
}
.page02_02 table{
    width: 100%;
}
.select_wrap .page02_03_01 .exp_wrap {
    width: 100%;
    padding: 2rem;
    float: right;
    position: absolute;
    top: 32rem;
}

.select_wrap .page02_03_01 .exp_wrap .exp_items .item_tit {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0rem 2rem 3rem 2rem;
}
.page02_03_01 table{
    width: 100%;
}
.page02_07 .exp_wrap .exp_items .item_txt {
    border: 1px solid rgba(0,0,0,.1);
    padding: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #999;
    margin-top: 20rem;
    /* bottom: 0; */
}
.page02_07 .fileList {
    width: 100%;
    height: 16rem;
    border: 1px solid rgba(0,0,0,.1);
    color: #7e7e7e;
    margin-top: 5rem;
    font-size: 1.2rem;
}

.page02_07 .exp_wrap .exp_items .item_txt {
    border: 1px solid rgba(0,0,0,.1);
    padding: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #999;
    margin-top: 35rem;
    /* bottom: 0; */
}
input:read-only {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: none;
    border-color: #7e7e7e;
    border-radius: 1.2rem;
    padding: 7px 20px;
}
.page01 .info_wrap li{
    position: relative;
}
.page01 p.invalidEmail{
    display: inline-block;
    color: rgb(244, 74, 90);
    font-size: 1.4em;
    line-height: 2;
    position: absolute;
    right: 0;
}
.page01 p.invalidCompany{
    display: inline-block;
    color: rgb(244, 74, 90);
    font-size: 1.4em;
    line-height: 2;
    position: absolute;
    right: 0;
}
.page01 p.invalidName{
    display: inline-block;
    color: rgb(244, 74, 90);
    font-size: 1.4em;
    line-height: 2;
    position: absolute;
    right: 0;
}
.page01 p.invalidTelNum{
    display: inline-block;
    color: rgb(244, 74, 90);
    font-size: 1.4em;
    line-height: 2;
    position: absolute;
    right: 0;
}
.page02_06 .exp_wrap .exp_items .item_txt {
    border: 1px solid rgba(0,0,0,.1);
    padding: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #999;
    margin-top: 0;
}



/* .page02_01_01 .info_wrap input.info_input {
    width: 50%;
    height: 4rem;
    padding: 0 2rem;
    border: none;
    border-radius: 1.2rem;
    font-size: 1.8rem;
    color: #999;
    margin-right: 1rem;
} */

.volumeNotice {
    padding: 3rem;
    /* color: rgb(244, 74, 90); */
    font-size: 1.7rem;
    /* font-weight: 500; */
    line-height: 3.2rem;
    /* margin: 0 auto; */
    margin-top: 0rem;
    /* text-align: justify; */
    border: 1px solid #f7f7f7;
    text-align: center;
}

.pcmNotice {
    font-weight: 600;
    color: rgb(244, 74, 90);
    margin-top: 2rem;
    font-size: 1.rem;
}
.caseNotice {
    font-size: 1.5rem;
    color: rgb(244, 74, 90);
}

/* .page02_07 li:nth-of-type(3) textarea {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 1.2rem;
    padding: 10px 2rem;
    color: #7e7e7e;
    background-color: #fff;
    font-size: 1.8rem;
    width: 70%;
    box-sizing: border-box;
    height: 4.5rem;
} */
/* .page02_07 .info_wrap .label {
    min-width: 6rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    width: 40%;
} */
.pcmNotice2 {
    color: rgb(244, 74, 90);;
    font-size: 1.1rem;
}

.necs {
    color: rgb(244, 74, 90);
    font-size: 1.1rem;
    /* width: 100%; */
    position: absolute;
    top: 3.5rem;
    left: 0rem;
}
.addfileP {
    padding: 0 10px;
    margin-top: 1.5rem;
    color: rgb(244, 74, 90);;
    font-size: 1.4rem;
    width: 70%;
    position: absolute;
    left: 0;
    margin-left: 0rem;
}
.addfileP {
    padding: 0;
    margin-top: 2rem;
    color: rgb(244, 74, 90);;
    font-size: 1.4rem;
    width: 70%;
    position: absolute;
    left: 0;
    margin-left: 0rem;
}

.page02_07 .select_items {
    width: 50%;
    padding: 4rem;
    border-right: 1px solid rgba(0, 0, 0, .1);
    float: left;
    height: 78rem;
}
.page03_01 .chk_item span{
    text-align: center;
    width: 100%;
}

/* .pcmN.open{
    margin-top:27rem;
  } */

  .pcmN{
    margin-top:4rem;    
  }

.page03 .custom .tableInfo {
    overflow: scroll;
}
.page03 .custom .tableDetails {
    overflow: scroll;
}
.page03 .custom .tableNotice { 
    overflow: scroll;

}
.page02_07 .select_items li:nth-of-type(3) form input {
    padding: 0.8rem 1.8rem;
    border: 1px solid lightgray;
    border-radius: 1rem;
}

.select_items select{
    width: 100%;
    color: #000;
    line-height: 120%;
    font-size: 1.7rem;
    text-align: justify;

}

.inner_page03{
    background: #fff;
}


.arrow_btn span {
    font-weight: 400;
    transition: .2s;
    opacity: 0;
    visibility: hidden;
    color: rgb(255 255 255 / 61%);
    display: none;
  }
  .customNotice {
    width: 150%;
    background: #fff;
}

.inner_page03 {
    background: #fff;
    width: 150%;
}

.page02_06 .select_items .chk_item.pcm.on {
    margin-top: 25rem;
}

.page02_06 .exp_wrap .exp_items {
    flex-wrap: wrap;
    height: 22rem;
}


.page02_07 .info_wrap>li {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.select_wrap .page02_06 .exp_wrap .exp_items .item .img_wrap {
    height: 17rem;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    background: #fff;
}


.select_wrap .page02_06 .exp_wrap .tabCont02.on{
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(12rem + 6rem);
    left: 0;
    height: 26rem;
}
.page03_01 .select_items.on {
    width: 100%;
}

.select_wrap .page02_06 .select_items {
    width: 100%;
    padding: 2rem;
    /* border-right: 1px solid rgba(0, 0, 0, .1); */
    /* float: left; */
    position: relative;
    height: 63rem;
}

.page02_04 .select_items {
    height: 17rem;
}

.page02_04 .select_items .chk_item.active {
    display: block;
    width: calc(100% - 4rem);
}

.page02_04 .exp_wrap > table {
    width: calc(100% - 4rem);
}

.page02_06 .exp_wrap .exp_items .item .img_wrap img {
    /* max-width: 100%; */
    /* max-height: 100%; */
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    object-fit: cover;
    width: 200px;
}

.select_wrap .page03_01 .select_items .meet.height {
    width: 100%;
    /* padding: 4rem; */
    border-right:0;
    float: left;
    opacity: 1;
    z-index: 99999;
    height:68rem;
}

.select_wrap .page02_04_01 .select_items {
    width: 100%;
    padding: 2rem;
    border-right: 1px solid rgba(0, 0, 0, .1);
    float: left;
    height: 30rem;
}

.require_wrap .require_items .item_txt {
    width: 70%;
}

.content.pg_layout01 .arrow_btn.prev.on.up {
    /* top: 1rem; */
    position: fixed;
    bottom: 13.5rem;
    right: 3rem;
}

.content.pg_layout01 .arrow_btn.prev.on{
    /* top: 1rem; */
    position: fixed;
    right: 11rem;
    bottom: 5rem;
}

.page02_03_01 .select_items .chk_item {
    width: calc(100% - 4rem);
}
.page02_03_01 .exp_wrap .cell_table {
    position: absolute;
    /* left: 0; */
    padding: 0rem;
    width: calc(100% - 4rem);
}

.page02_06 .items_wrap {
    width: 100%;
    height: 52rem;
    overflow: hidden;
}

.page04 .booking_wrap {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content > .inner > .require_select_wrap > .select_wrap div.page-switch.page02_01_01.on {
    display: block;
    top: 7rem;
}
.content > .inner > .require_select_wrap > .select_wrap div.page-switch.page02_07.on {
    display: block;
    top: 7rem;
}

.volumeNotice {
    padding: 2rem;
    /* color: rgb(244, 74, 90); */
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 5.2rem;
    /* margin: 0 auto; */
    justify-content: center;
    margin-top: 6rem;
}
  .page-switch.on:after {
    content: "";
    display: block;
    height: 10rem;
    position: absolute;
    width: 100%;
    bottom: -10rem;
    z-index: -9999;
}

.select_items.on.height:after{
    content: "";
    display: block;
    height: 10rem;
    position: absolute;
    width: 100%;
    bottom: -10rem;
    z-index: -9999;
}

.page-switch.page02_07.on:after{
    content: "";
    display: block;
    height: 10rem;
    position: absolute;

    width: 100%;
    bottom: -10rem;
    z-index: -9999;
}
.page-switch.page03.on:after {
    content: "";
    display: block;
    height: 10rem;
    position: fixed;
    width: 100%;
    bottom: -41rem;
    z-index: 0;
}

.inner_page03:after {
    content: "";
    display: block;
    height: 10rem;
    /*position: fixed;*/
    width: 100%;
    bottom: -41rem;
    /*z-index: 0;*/
}
/* body:after{
    content: "";
    display: block;
    height: 10rem;
    position: fixed;
    width: 100%;
    bottom: 0rem;
    z-index: -99999999;
    border: 1px solid red;
} */
.page03_01.on .exp_wrap:after{
    content: "";
    display: block;
    height: 10rem;
    position: fixed;
    width: 100%;
    bottom: -10rem;
    /*z-index: -9999;*/
}
.inner_page03:after{
    content: "";
    display: block;
    height: 20rem;
    /*position: fixed;*/
    width: 100%;
    bottom: -10rem;
    /*z-index: -9999;*/

}
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc1{
    transform: scale(1);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc2{
    transform: scale(2);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc3{
    transform: scale(2);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc4{
    transform: scale(0.8);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc5{
    transform: scale(1.7);
    top: -2rem;
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc6{
    transform: scale(1);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc7{
    transform: scale(1);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc8{
    transform: scale(2);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc9{
    transform: scale(1.5);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc10{
    transform: scale(1);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc11{
    transform: scale(1.8);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc12{
    transform: scale(1.2);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc13{
    transform: scale(1);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc14{
    transform: scale(1.5);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc15{
    transform: scale(1);
  }
  
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc16{
    transform: scale(1.2);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc17{
    transform: scale(1.5);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc18{
    transform: scale(1.5);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc19{
    transform: scale(1.2);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc20{
    transform: scale(1.2);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc21 {
    transform: scale(1.6);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc22 {
    top: 5rem;
    wtransform: scale(1);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc23{
    transform: scale(0.8);
    width: 140px;
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc24{
    transform: scale(0.8);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc25{
    transform: scale(1);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc26{
    transform: scale(1);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc27{
    transform: scale(1.2);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc28{
    transform: scale(1.1);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc29{
    transform: scale(1);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc30{
    transform: scale(1);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc31{
    transform: scale(0.8);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc32{
    transform: scale(1);
    top: 5rem;
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc33{
    transform: scale(0.8);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc34{
    transform: scale(0.8);
  }
  .page02_06 .exp_wrap .exp_items .item .img_wrap img.pmc35{
    transform: scale(0.8);
  }

  .select_wrap  .page02_06 .exp_wrap .pcm.on {
    height: 23rem;
}

.page02_03_01 .cell_table td{
    padding: 1rem 0.5rem;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 1.5rem;
    text-align: center;
}

.page02_03_01 .cell_table.c1 th{
    padding: 1.5rem 0.5rem;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 1.5rem;
    text-align: center;
}

.page02_03_01 .cell_table.c1 td {
    padding: 1.5rem 0.5rem;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 1.5rem;
    text-align: center;
}
.page02_03_01 .cell_table th{
    padding: 1rem 0.5rem;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 1.5rem;
    text-align: center;
}
.select_wrap .page02_01 .exp_wrap .tabCont04.on {
    width: 100%;
    padding: 3rem;
    float: right;
    position: absolute;
    top: calc(13rem + 6rem + 6rem + 6rem);
    left: 0;
    height: 16rem;
}
.chk_item.purpose:nth-of-type(4).on {
    margin-top: 19rem;
}

.content .select_items .chk_item.purpose.on.add{ margin-top: 18rem;}

.tbl_style02 th, .tbl_style02 td {
    padding: 1rem 1rem;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 1.5rem;
    text-align: center;
}

.page02_04 .exp_wrap .tbl_style01 th {
    padding: 1.5rem 0.5rem;


}
.page02_04 .tbl_style01 td {
    padding: 1.3rem 1rem;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 1.4rem;
    text-align: center;
}
.select_wrap .page02_03_01 .exp_wrap.active{
    top:28rem;
  }
  
  .arrow_btn.next {
    right: 1rem;
    background: var(--main-color) url(../img/next_ico.svg) no-repeat;
    background-position: center;
    background-position-x: 2.7rem;
}
.select_wrap .page03_01 .select_items{
    height: 0;
    width: 100%;
    padding: 2rem;
    position: relative;
    border-right:0;
}
.select_wrap .page03_01 .select_items .items_tit {
    margin-top: 2rem;
    /* margin-bottom: 0rem; */
    font-size: 1.6rem;
    font-weight: 700;
}

.select_wrap .page03_01 .select_items .items_tit.call {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #999;
}
.innerpage01 {
    position: absolute;
    top: 47rem;
    height: 21rem;
    left: 0;
    background: #fff;
    width: 100%;
    display: block;
    border-radius: 2.4rem;
    text-align: center;
    line-height: 100%;
    padding: 3rem;
    justify-content: center;
    font-size: 1.8rem;
    line-height: 120%;
}
  
  .innerpage01 input {
    width: 24rem;
    height: 5rem;
    padding: 0 2rem;
    border: none;
    font-size: 1.8rem;
    color: #999;
    outline: none;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%);
    border-radius: 1.2rem;
}
.customSearch {
    position: absolute;
    left: 2rem;
    top: 1rem;
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 1.6rem;
}  

.select_wrap .page02_01 .select_items {
    width: 100%;
    padding: 2rem;
    border-right: 1px solid rgba(0, 0, 0, .1);
    float: left;
    height: auto;
    /* height: 75rem; */
}


.page02_03_01 .cell_table td {
    padding: 1rem 0.9rem;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 1.5rem;
    text-align: center;
}


.page03_01 .exp_wrap {
    height: auto;
}
}